body {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    justify-content: space-between;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
}

.links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-left: auto;
}

a:link {
    text-decoration: none;
    color: #f9faf8;
}

a:visited {
    text-decoration: none;
    color: #f9faf8;
}

.top-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 120px;

}

.top-header {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.top-text {
    width: 425px;
}

.middle-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.tokyo {
    height: 250px;
    width: auto;
    border: 3px #E5E7Eb solid;
    border-radius: 6px;
}

.top-button {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 6px;
    font-weight: 700;
    border: none;
    font-size: 16px;
    margin-top: 12px;
}

.wrap-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    text-align: center;
}

.grid {
    height: 150px;
    width: 150px;
    border: 3px #3882F6 solid;
    border-radius: 8px;
}

.lower-content {
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
}

.filler {
    width: 624px;
    align-self: center;

}

.quote {
    font-size: 30px;
    font-weight: 100;
    text-align: left;  
}

.author {
    font-size: 26px;
    font-weight: 900;
    text-align: end;
}

.bottom-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.call-to-action {
    width: 700px;
    height: 100px;
    display: flex;
    background-color: #3882F6;
    color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
}

.cta-button {
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    font-weight: 700;
    border: 2px solid white;
    font-size: 18px;
}

.cta-header {
    font-size: 24px;
    font-weight: 700;
}

.footer {
background-color: #1F2937;
color: #E5E7Eb;
height: 60px;
display: flex;
justify-content: center;
align-items: center;

}