body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
}

.links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-left: auto;
}

a:link {
    text-decoration: none;
    color: #f9faf8;
}

a:visited {
    text-decoration: none;
    color: #f9faf8;
}

.top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    width: 800px;

}

.top-header {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.middle-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.tokyo {
    height: 200px;
    width: auto
}

.top-button {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 6px;
    font-weight: 700;
    border: none;
    font-size: 16px;
}

.wrap-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    text-align: center;
}

.grid {
    height: 300px;
    width: 300px;
    border: 3px #3882F6 solid;
    border-radius: 8px;
}

.lower-content {
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
}

.filler {
    width: 624px;
    align-self: center;

}

.quote {
    font-size: 36px;
    font-weight: 100;  
}

.author {
    font-size: 26px;
    font-weight: 900;
    text-align: end;
}